# Git
.git
.gitignore

# Maven
target/
!target/*.jar
mvnw
mvnw.cmd
.mvn/

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Docker
.dockerignore
docker-compose*.yml

# Docs
README.md
CHANGELOG.md
LICENSE 